html {
  font-size: 100%;
  min-height: 100vh;
}
body {
  font-family: $font-primary;
  overflow-x: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
#root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-content: space-between;
}
.App {
  overflow: hidden;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main {
  &.no-events {
    pointer-events: none;
  }
}
.page-content__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#goToContent,
.sitemap-link {
  /*anchor to skip directly to content*/
  /*link to sitemap*/
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  &:focus,
  &:active {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999999;
    width: auto;
    height: auto;
    overflow: visible;
    text-decoration: underline;
  }
}

#home-title {
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.breadcrumbs {
  position: static;
  border: none;
  padding: 0;
  background: transparent;
}

[class*="description"] {
  a {
    font-weight: inherit;
  }

  /*restore default styles for lists, in description fields*/
  ul,
  ol {
    padding-left: rem(40);
    overflow: hidden;
    li {
      list-style-type: inherit;
    }
  }

  ul {
    list-style-type: disc;
  }
  ol {
    list-style-type: decimal;
    ul {
      list-style-type: circle;
    }
  }
}

.clearfix {
  min-height: 1px;
} //fix for side image with float

.tile-icon {
  width: rem(54);
  height: rem(54);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
  border-radius: 50%;
  border: 0.5px solid $color-white;
  color: $color-white;
  font-size: rem(13);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: $trans-all-3;
  position: absolute;
  cursor: pointer;
  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.container {
  padding-inline: 1.25rem;
}
img {
  width: 100%;
  height: auto;
}

.large-only {
  display: none;
}

.no-results {
  font-weight: normal;
}

.leaflet-control {
  z-index: 400 !important;
  margin-left: unset;
}
.leaflet-control-zoom {
  background: transparent;
  border: none !important;
  margin-left: rem(36);
  margin-bottom: rem(32);
  box-shadow: none;
  .leaflet-control-zoom-in {
    border-radius: 50px !important;
    margin: auto;
    width: rem(48) !important;
    height: rem(48) !important;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      display: none;
    }
    &::after {
      content: "\2b";
      font-family: "Font Awesome 5 Pro";
      @include font(20, 27, 0);
      font-weight: $font-text--medium;
      color: $color-yellow-1;
    }
  }
  .leaflet-control-zoom-out {
    border-radius: 50px !important;
    margin: auto;
    width: rem(48) !important;
    height: rem(48) !important;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 14px;
    span {
      display: none;
    }
    &::after {
      content: "\f068";
      font-family: "Font Awesome 5 Pro";
      @include font(20, 27, 0);
      font-weight: $font-text--medium;
      color: $color-yellow-1;
    }
  }
}

@media screen and (min-width: $lg) {
  .container {
    max-width: calc(992px - 2.5rem);
  }
  .small-only {
    display: none;
  }
  .large-only {
    display: block;
  }
}
@media screen and (min-width: $xl) {
  .container {
    max-width: calc(1088px + 2.5rem);
  }
}
