#description {
  &.margin-bottom {
    &__description {
      margin-bottom: rem(29);
      .last-update {
        color: $color-yellow-1;
        @include fontFull(12, 15, $font-primary, 0, $font-text--semibold);
      }
      .text-indent {
        img:not[width] {
          width: 100%;
        }
      }
      .description {
        &--side-description {
          position: relative;
          ::after {
            content: "";
            position: absolute;
            top: rem(-42);
            left: calc((100% - 100vw) / 2);
            width: 100vw;
            height: calc(100% + rem(84));
            background-color: $color-gray-6;
            z-index: -1;
          }
        }
      }

      .side-image--generic {
        position: relative;
        max-width: 46.4vw;
        left: calc((100% - 100vw) / 2);
        margin-right: calc(rem(20) - (100vw - 100%) / 2);
        margin-bottom: rem(32);
        float: left;
        figure {
          width: 100%;
          height: 100%;
          figcaption {
            display: none;
          }
        }
      }

      blockquote {
        margin-bottom: rem(28);
        padding-right: rem(17);
        margin-top: rem(20);
        @include font(20, 26);
        color: $color-primary;
        font-weight: 300;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          background-image: url("../../../assets/images/svg/quotes.svg");
          background-size: 100% auto;
          background-repeat: no-repeat;
          top: rem(-8);
          width: rem(21);
          height: rem(21);
          z-index: -1;
          transform: translateX(rem(-10));
        }
      }
      a {
        color: $color-yellow-1;
      }
    }
  }
}

@media screen and (min-width: $lg) {
  #description {
    &.margin-bottom {
      &__description {
        margin-bottom: rem(64);
        .side-image--generic {
          left: 0;
          max-width: rem(444);
          margin-right: rem(77);
          margin-bottom: rem(48);
          width: rem(444);
          height: auto;
          figure {
            figcaption {
              display: block;
              padding-top: rem(12);
              @include fontFull(14, 18, $font-primary, 0.35, $font-text--regular);
              color: $color-yellow-1;
            }
          }
        }
        blockquote {
          margin-top: rem(60);
          @include font(40, 48);
          &::before {
            top: rem(-56);
            width: rem(92);
            height: rem(92);
            transform: translateX(rem(-45));
          }
        }
      }
    }
  }
}
