.main--generic {
  .top-multimedia {
    width: 100vw;
    left: calc((100% - 100vw) / 2);
    margin-top: rem(20);
    position: relative;
    &--video {
      width: 100vw;
      left: calc((100% - 100vw) / 2);
      margin-top: rem(20);
      position: relative;
    }
    &--image {
      width: 100vw;
      left: calc((100% - 100vw) / 2);
      margin-top: rem(20);
      position: relative;
    }
  }
}

@media screen and (min-width: $lg) {
  .main--generic {
    .top-multimedia {
      &--video {
        width: 100%;
        margin-top: rem(28);
        left: auto;
      }
      &--image {
        width: 100%;
        margin-top: rem(28);
        left: auto;
      }
    }
  }
}
